<!DOCTYPE html>
<html lang="en" ng-app='stackchat'>
  <head>
    <title>Stack Chat</title>
    <link rel="stylesheet" href="../assets/css/style.css">
  </head>
  <body ng-controller="ChatCtrl" ng-mouseenter="showTopMenu = true" ng-mouseleave="showTopMenu = false">
    <div class="container">
      <div class="top-menu-wrapper" ng-class="{'top-menu-wrapper-inscreen': showTopMenu || !user}">
        <div class="top-menu">
          <div ng-hide="user">
            <iframe src="http://hiattp.github.io/stackchat" frameBorder="0" height="25" width="63"></iframe>
          </div>
          <a class="btn auth-btn" ng-click="logout()" ng-show="user">Logout</a>
          <a class="btn exit-btn" ng-click="exitStackChat()">x</a>
        </div>
      </div>
      <ul>
        <div ng-repeat="msg in messages">
          <li>
            {{msg.body}}
          </li>
          <div class="username-wrapper" ng-hide="messages[$index+1] && messages[$index+1].username == msg.username">
            <p class="msg-username">{{msg.username || "anon(s)"}}</p>
            <hr class="msg-username-break">
          </div>
        </div>
        <li ng-show="messages.length == 0">Be the first to post a note/chat about this question!</li>
      </ul>      
      <textarea ng-model="msg" ng-keydown="addMessage($event)"></textarea>
      <a class="btn anon-btn" ng-class="{'anon-btn-active': anon}" ng-click="anon = !anon">Anon</a>
      <a class="btn post-btn" ng-click="addMessage($event)">Post</a>
    </div>
    
    <script src="../assets/js/angular.min.js"></script>
    <script src="../assets/js/jquery.js"></script>
    <!-- Firebase and AngularFire -->
    <script src="../assets/js/firebase.js"></script>
    <script src="../assets/js/firebase-simple-login.js"></script>
    <script src="../assets/js/angularfire.js"></script>
    <script src="../assets/js/FirebaseIndex.js"></script>
    <script src="../assets/js/controllers.js"></script>
  </body>
</html>

