html, body {
  height: 100%;
  width: 100%;
}
body{
  margin: 0px;
  padding: 0px;
  background-image: url('../img/binding_dark.png');
  background-repeat: repeat;
  color: white;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

.container{
  position: relative;
  height: 100%;
  width: 100%;
}

.top-menu-wrapper{
  position: absolute;
  height: 41px;
  top: -43px;
  width: 100%;
  background-color: black;
  z-index: 1;
  border-bottom: solid 1px gray;
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;  
}

.top-menu-wrapper-inscreen{
  top: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  line-height: 1.3em;
  position: absolute;
  bottom: 117px;
  width: 100%;
}

li {
  margin: 9px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #333;
  padding: 8px;
  border-top: solid 1px black;
  border-left: solid 1px black;
}

.username-wrapper{
  position: relative;
}

p.msg-username{
  margin: 0px;
  margin-right: 12px;
  text-align: right;
  font-size: 12px;
  color: #FE5400;
}

hr.msg-username-break{
  position: absolute;
  bottom: 0px;
  width: 100px;
  border-color: gray;
}

textarea {
  position: absolute;
  bottom: 0px;
  resize: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 6em;
  width: 200px;
  outline: none;
  padding: 5px;
  font-size: 14px;
  margin: 9px;
}

.instructions{
  position: absolute;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: dashed 1px gray;
  color: gray;
  bottom: 0px;
  margin: 10px;
  padding: 7px;
  min-height: 81px;
}

a.btn{
  position: absolute;
  bottom: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  min-width: 60px;
  text-align: center;
  line-height: 1.5em;
  margin: 9px;
  border: solid 1px black;
}

iframe{
  position: absolute;
  bottom: 0px;
  margin: 7px;
  left: 2px;
}

a.post-btn{
  background-color: #bb3e00;
  right: 0px;
}

a.anon-btn{
  right: 0px;
  color: gray;
  border: dashed 1px gray;
  bottom: 30px;
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;  
}

a.anon-btn-active{
  border: solid 1px black;
  color: white;
  background-color: #009303;
}

a.auth-btn{
  background-color: #bb3e00;
}

a.exit-btn{
  right: 0px;
  color: gray;
  border: dashed 1px gray;
  min-width: 0px;
  width: 20px;
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;  
}

a.exit-btn:hover{
  color: white;
  border: solid 1px white;
}

a:hover{
  cursor: pointer;
}